﻿@model FilesCopier.ViewModels.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Копирование файлов</title>

    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/redmond/jquery-ui-1.10.3.custom.min.css">
    <script type='text/javascript' src='~/Scripts/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.validate.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.validate.unobtrusive.min.js'></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript" language="javascript">

    $(document).ready(function () {

        $("#progressbar").progressbar({ value: 0 });

        var progressNotifier = $.connection.progressHub;

        progressNotifier.client.sendMessage = function (val) {
            UpdateProgress(val);
        };

        $.connection.hub.start();
    })

    function UpdateProgress(val) {
        $("#progressbar").progressbar("value", val);
    }
    </script>

</head>
<body>
    @using (Ajax.BeginForm("CopyOrMoveFiles", "Home", new AjaxOptions(){HttpMethod = "POST"}, new { enctype = "multipart/form-data" }))
    {
        <dl>
            <dt>
                @Html.LabelFor(m => m.OnlyCopy)
            </dt>
            <dd>
                @Html.CheckBoxFor(m => m.OnlyCopy)
            </dd>

            <dt>
                @Html.LabelFor(m => m.File)
            </dt>
            <dd>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
                @Html.ValidationMessageFor(m => m.File)
            </dd>
        </dl>

        <div>
            @Html.Raw(Model.Message)
        </div>

        <button> Выполнить </button>


        <div id="progressbar" style="width: 300px; height: 15px; margin-top: 10px;"></div>

    }

</body>
</html>
